.root-layout {
  display: grid;
  height: 100dvh;
  grid-template-rows: 4rem auto auto 4rem;
  grid-template-columns: minmax(10rem, max-content) auto;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main';

  @media (width < 768px) {
    grid-template-rows: 4rem auto auto auto minmax(4rem, max-content);
    grid-template-columns: 1fr;
    grid-template-areas:
      'header header header'
      'main main main'
      'main main main'
      'main main main'
      'footer footer footer';
  }
}

.header {
  grid-area: header;
  background-color: #252728;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1c1c1d;

  @media (width < 768px) {
    display: none;
  }
}

.main {
  grid-area: main;
  background-color: #1c1c1d;
}

.footer {
  grid-area: footer;
  background-color: burlywood;

  @media (width >= 768px) {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
