.root-layout {
  display: grid;
  height: 100dvh;
  grid-template-rows: 4rem auto auto 4rem;
  grid-template-columns: minmax(10rem, max-content) auto;
  grid-template-areas:
    'header header header'
    'sidebar main main'
    'sidebar main main'
    'sidebar main main';

  @media (width < 768px) {
    grid-template-rows: 4rem auto auto auto 4rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header header header'
      'main main main'
      'main main main'
      'main main main'
      'footer footer footer';
  }
}

.header {
  grid-area: header;
  background-color: brown;
}

.sidebar {
  grid-area: sidebar;
  background-color: aquamarine;

  @media (width < 768px) {
    display: none;
  }
}

.main {
  grid-area: main;
  /* background-color: darkgrey; */
}

.footer {
  grid-area: footer;
  background-color: burlywood;

  @media (width >= 768px) {
    display: none;
  }
}
